﻿@model IEnumerable<LostAndFound.Models.Post>

@{
    var Post = Model.First();
    var photo = "/imgs/" + Post.Photo;
    var userPhoto =  Post.User.Photo;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <img class="img-rounded" width='50' height="50" src="@Html.DisplayFor(model => userPhoto)" />
        </div>
        <div class="col-md-10">
                <label align="left">
                    <a href="@Url.Action("Index", "Profile", new { id = Post.User.ID })">@Post.User.FName @Post.User.LName</a>
                </label>
            <br />
            @Html.DisplayFor(model => Post.PDate)
        </div>
    </div>
</div>

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            @Html.DisplayFor(model => Post.Descr)
        </div>
        <div class="col-md-6">
            @if (Html.DisplayFor(model => photo) != null)
            {
                <img src="@Post.Photo" class="img-thumbnail" />
            }

            <div>
                <button type="button" class="btn btn-danger" id="reportBtn" action="ReportPost">Report post</button>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div id="repliesView">
    @{
        Html.RenderAction("Index", "Replies", new { pid = Post.PID });
    }
</div>

<div class="row">
    <div>
        <input type="hidden" id="pid" value=@Post.PID />
    </div>
    <label for="replyTextarea">Add reply</label>
</div>
<div class="row">
    <textarea class="col-md-9" id="replyText" name="replyText" placeholder="Write your answer here ..."></textarea>
    <input type="submit" id="replyBtn" value="Reply" class="btn btn-default col-md-offset-1 col-md-2" />
</div>

<script>
    $("#replyBtn").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "/Posts/AddReply",
            data: { pid: $('#pid').val(), replyText: $('#replyText').val() },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#repliesView").load('@Url.Action("Index", "Replies")' + '?pid=@Post.PID');
                $("#replyText").val('');
            },
            error: function (reponse) {
                alert("An error has occured :(\nPlease try again later!!");
            }
        });
    });

    $("#reportBtn").click(function (e) {
        e.preventDefault();
         $.ajax({
            url: "/Posts/AddReport",
            data: { pid: $('#pid').val() },
            cache: false,
            type: "POST",
            success: function (data) {
                alert("You reported the post and it is now under the admin's review\nThank you!!");
                $("#reportBtn").prop("disabled", true);
            },
            error: function (reponse) {
                alert("An error has occured :(\nPlease try again later!!");
            }
        });
    });
</script>