@model IEnumerable<LostAndFound.Models.ReportViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Reported Posts</h2>

<table class="table">
    <tr>
        <th>
            Post
        </th>
        <th>
            Category
        </th>
        <th>
            Lost/Found
        </th>
        <th>
            Number of reports
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Descr
            </td>
            <td>
                @item.CategoryName
            </td>
            <td>
                @item.PID
            </td>
            <td>
                @item.NumberOfReports
            </td>
            <td>
                @Html.ActionLink("View", "Index", "Posts", new { id = item.PID }, null) |
                @Html.ActionLink("Delete", "Delete", "Report", new { id = item.PID }, null)
            </td>
        </tr>
    }
</table>




