@model IEnumerable<LostAndFound.Models.ReportViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Reported Posts</h2>

<table class="table">
    <tr>
        <th>
            Post
        </th>
        <th>
            Category
        </th>
        <th>
            Lost/Found
        </th>
        <th>
            Number of reports
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Descr
            </td>
            <td>
                @item.CategoryName
            </td>
            <td>
                @item.PID
            </td>
            <td>
                @item.NumberOfReports
            </td>
            <td>
                @Html.ActionLink("View", "Index", "Posts", new { id = item.PID }, null) |
                <a href="#" class="deletepost">Delete</a>
                <input type="hidden" class="pid" value=@item.PID />
                @Html.ActionLink("Delete", "Delete", "Report", new { id = item.PID }, null)
            </td>
        </tr>
    }
</table>



<script>
    $(document).ready(function () {

        $(".deletepost").click(function (e) {
            e.preventDefault();
            var parent = $(this).parent();
            hidden = parent.children(".pid").first();
            var id = hidden.val();
            parent = parent.parent();
            $.ajax({
                url: "/Report/Delete",
                data: { id: id },
                cache: false,
                type: "POST",
                beforeSend: function () {
                    parent.animate({ 'backgroundColor': '#fb6c6c' }, 300);
                },
                success: function () {
                    parent.slideUp(300, function () {
                        parent.remove();
                    });
                }

                });
            });

    });


</script>




