@model IEnumerable<LostAndFound.Models.Reply>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.Descr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.Descr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RID })
        </td>
    </tr>
}

</table>
