﻿@model IEnumerable<LostAndFound.Models.Reply>

@foreach (var Reply in Model)
{
    <div class="row well">
        <div class="col-md-2">
            <a href="@Url.Action("Index", "Profile", new { id = Reply.User.ID })">@Reply.User.FName @Reply.User.LName</a>
            <br />
            @Html.DisplayFor(model => Reply.RDate)
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => Reply.Descr)
        </div>
    </div>
}